---
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@/utils/slugify";
import Datetime from "./Datetime.astro";

type Props = CollectionEntry<"reviews">;

const { id, data } = Astro.props;
const { title, artist, rating, releaseYear, genre, description, pubDatetime, modDatetime } = data;

const href = `/reviews/${id}/`;
---

<li class="my-6">
  <a
    href={href}
    class:list={[
      "inline-block text-lg font-medium text-accent",
      "decoration-dashed underline-offset-4 hover:underline",
      "focus-visible:no-underline focus-visible:underline-offset-0",
    ]}
  >
    <h2 style={{ viewTransitionName: slugifyStr(title.replaceAll(".", "-")) }}>
      {artist} — {title}
    </h2>
  </a>
  <div class="flex items-center gap-3 text-sm opacity-80">
    <span class="font-semibold text-accent">{rating}/10</span>
    <span>{releaseYear}</span>
    <span>{genre.join(", ")}</span>
  </div>
  <Datetime pubDatetime={pubDatetime} modDatetime={modDatetime} />
  <p>{description}</p>
</li>
